.home{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.591), rgba(0, 0, 0, 0.614))
    ,url(../space-landscape-illustration-wit.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -38px;
}

.home-header{
    color: white;
    font-size: 55px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
    padding-inline: 20px;
}