.main{
    padding-top: 5em;
    padding-inline: 10px;
    text-align: justify;
}

.key{
    margin: 20px;
    border: 1px solid rgb(3, 171, 255);
    padding: 20px;
    background-color: rgba(11, 11, 11, 0.993);
    color: white;
}

.key ul{
    list-style: none;
}

.key ul li{
    padding: 10px;
    font-size: 17px;
    line-height: 1.5;
}


