body{
    width: 100%;
}

.hamburger{
    display: none;
    color: white;
}

#hidden{
    display: flex;
}

.nav-sec{
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}

.nav-btn{
    padding: 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.nav-sec ul{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.nav-sec ul a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-sec ul a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(225, 97, 32);
    transition: .3s;
}

.nav-sec ul a:hover::after{
    width: 100%;
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
}

.logo:hover{
    color: rgb(225, 97, 32);
}
.cancel{
        display: none;
    }

@media screen and (max-width:630px){
    .nav-sec{
        background-color: rgba(22, 29, 17, 0.432);
        display: flex;
        justify-content: space-between;
        padding: 20px 33px;
        z-index: 2;
        position: absolute;
        top: 0;
        width: 100%;
        color: white;
    }


    .nav-sec ul{
        display: none;
    }

    #hidden{
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 60px;
        background-color: white;
        height: 93vh;
        width: 200px;
        padding: 20px;
        text-align: center;
    }

    .nav-sec ul a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }

    .hamburger{
        display: block;
        font-weight: bolder;
    }

    .nav-sec ul a::after{
        margin: auto;
    }

    .nav-sec ul a:hover::after{
        width: 50%;
    }
}

@media screen and (max-width:300px) {
    .nav-sec{
        background-color: rgba(22, 29, 17, 0.432);
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        z-index: 2;
        position: absolute;
        top: 0;
        width: 100%;
        color: white;
    }
}
